*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(30, 38%, 92%);
    padding: 30%;
    padding-top: 2%;
}

.container{
    display: flex;
    width: 500px;
    background-color:  hsl(0, 0%, 100%);
}

.container .flexbox{
    width: 250px;
}

.container .flexbox img{
    width: 250px;
    height: 100%;
}

.container .flex-text{
    padding: 8%;
}

.container .flex-text .product{
    font-size: 10px;
    margin-bottom: 15px;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
}

.container .flex-text h1{
    font-weight: 700;
    font-family: sans-serif;
    line-height: 30px;
}

.container .flex-text p{
    padding-top: 15px;
    font-size: 14px;
    line-height: 23px;
    color: hsl(228, 12%, 48%);
}

.container .flex-text .bold{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.container .flex-text .bold b{
    color:  hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 30px;
}

button{
    border-style: none;
    border: 1px solid gray;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color:  hsl(158, 36%, 37%);
}
